
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
  /* All Shared items */

  /* Shared btn */
.btn-parimary{
    background-color: hsl(25, 98%, 52%);
    padding: 18px 35px;
    font-weight: bold;
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}


/* shared color */
.text-primary{
    color: #FD6E0A;
}

/* nav style */
nav{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800px;
    font-size: 45px;
}
/* nav li{
    display: inline;
    align-items: center;
    justify-content: space-between;
} */
    nav ul{
        display: flex;
        align-items: center;
    }
nav ul li{
    list-style: none;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color: #474747;
}

/* banner styes */
    .banner{
        display: flex;
        justify-content: space-between;
        margin: 0 35px 0 200px;
    }
    .banner-content{
        max-width: 580px;
    }
    .banner-greetings{
        font-weight:600;
        font-size: 45px;
    }

    .banner-title{
        font-size: 85px;
        font-weight: bold;
    }
    .dark-1{
        color: #181818;
    }
    .banner-description{
        font-size: 18px;
        font-weight:regular ;
    }
    .dark-3{
        color: #757575;
    }

    .banner-profie-pic{
        width: 580px;
        
    }